@import 'Navbar.scss';
@import 'Card.scss';
@import 'Newsletter.scss';
@import 'Footer.scss';

@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap');

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.py-60 {
  padding: 60px 0;
}
