@import 'Variables.scss';

.card {
  &-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &-item {
    max-width: 40%;
    margin: 30px auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    font-family: 'cabin';
    font-size: 14px;
    color: black;
    padding: 10px;
    text-transform: uppercase;

    &:hover {
      .card-hide {
        opacity: 1;
        transition: 0.3s;
      }
    }
  }
  &-image {
    width: 100%;
    max-height: 200px;
  }
  &-itemname {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
  }
  &-itemprice {
    color: #a88176;
  }

  &-itemprice,
  &-itemcondition {
    font-size: 9px;
    margin: 5px;
  }
  &-itemlink {
    width: 65%;
    color: black;
    margin: 15px auto 0;
    text-decoration: none;
    display: inline-block;
    border: 1px solid black;
    padding: 10px;
    transition: 0.3s;

    &:hover {
      transition: 0.3s;
      background-color: black;
      color: white;
    }
  }

  &-button2 {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: $mobile) {
  .card {
    &-itemprice,
    &-itemcondition {
      font-size: 12px;
    }
    &-item {
      max-width: 18%;
    }
    &-hide {
      opacity: 0;
      transition: 0.3s;
    }
  }
}
