.footer {
  width: 100%;
  height: 60px;
  position: relative;
  background-color: rgb(56, 22, 0);

  display: flex;
  justify-content: center;
  flex-direction: column;

  &-text {
    margin: 0;
    font-size: 12px;
    color: white;
    text-align: center;
    text-transform: uppercase;
  }
}

@media screen and (min-width: $mobile) {
  .footer {
    &-text {
      font-size: 14px;
    }
  }
}
