.navbar {
  width: 100%;
  height: 90px;
  background-color: rgb(56, 22, 0);

  &-logolink {
    display: inline-block;
  }

  &-logoimg {
    padding: 15px 0;
    width: 150px;
    height: 54px;
    filter: brightness(5);
  }
}
