.newsletter {
  padding: 90px 15px;
  font-family: 'cabin';
  background-color: #f2f2f2;

  &-title {
    font-size: 21px;
    text-transform: uppercase;
  }

  &-subtitle,
  &-rule {
    font-weight: 400;
    font-size: 14px;
  }

  &-form {
    display: flex;
    margin-top: 30px;
    position: relative;
    justify-content: center;
    flex-direction: column;

    span {
      color: red;
      position: absolute;
      transform: translate(-25%, 10px);
    }
  }

  &-nameinput {
    left: 35%;
    top: 25%;
  }

  &-emailinput {
    left: 35%;
    top: 55%;
  }

  &-input {
    border: none;
    transition: 0.3s;
    margin: 15px;
    font-family: 'cabin';
    padding: 10px 30px 10px 10px;
    background-color: transparent;
    border-bottom: 1px solid black;

    &:focus {
      outline: none;
      transition: 0.3s;
      background-color: #cccccc;
    }
  }

  &-button {
    transition: 0.3s;
    padding: 10px 40px;
    border: 1px solid black;
    font-family: 'cabin';
    text-transform: uppercase;
    margin: 30px auto 0;
    width: 90%;

    &:hover {
      color: white;
      cursor: pointer;
      transition: 0.3s;
      background-color: black;
    }
  }
}

@media screen and (min-width: $mobile) {
  .newsletter {
    padding: 90px 0px;
    line-height: 0.5;

    &-subtitle,
    &-rule {
      font-size: 18px;
    }

    &-title {
      font-size: 24px;
    }

    &-form {
      flex-direction: row;
    }
    &-input {
      margin: 0 15px;
    }
    &-button {
      margin: 0;
      width: inherit;
    }
    &-nameinput {
      left: 32%;
      top: 100%;
    }
    &-emailinput {
      left: 50%;
      top: 100%;
    }
  }
}

@media screen and (min-width: $tablet) {
  .newsletter {
    &-nameinput {
      left: 23%;
    }
  }
}

@media screen and (min-width: $desktop-md) {
  .newsletter {
    &-nameinput {
      left: 30%;
    }
  }
}

@media screen and (min-width: $desktop-lg) {
  .newsletter {
    &-nameinput {
      left: 32%;
    }
  }
}
